.side-nav {
  height: 100vh;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--red-light);
  color: var(--grey-light);
  box-shadow: -2px 4px 8px black;
}

.side-nav-button {
  margin-bottom: 3rem;
  border: 2px solid var(--grey-light);
  background-color: transparent;
  width: 12rem;
  height: 13rem;
  color: var(--grey-light);
  font-family: "Minecraft", Verdana, sans-serif;
}

.side-nav-button.selected {
  border: 2px solid var(--orange-light);
  background-color: var(--grey-light);
  color: var(--orange-light);
}

.side-nav-button.test {
  background-color: black;
}

.side-nav-button:hover,
.inventory:hover {
  color: var(--red-light);
  background-color: var(--grey-light);
  border: 2px solid var(--black-dark);
}
/* .shovel {
}
.axe {
}
.pickAxe {
} */

.inventory {
  height: 4%;
  width: 20%;
  border: 1px solid black;
}

.inventory.selected {
  border: 1px solid var(--orange-light);
}
